/* vp-form-search */
#vp-form-search label {
	display: block; 
	color: #7CD88F;
}

#vp-form-search input, #vp-form-search select {
	border: 1px solid #f6f6f6;
	border-bottom: 3px solid #f6f6f6;
	padding: 15px;
	height: auto;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/* vp-form-search - End */

/* Config de Margins (Excessões) */
.margin-top-zero {
	margin-top: 0px;
}

.margin-bottom-zero {
	margin-bottom: 0px;
}
/* Config de Margins (Excessões) - End */

/* Config quebra de linha */
.br-1 {
	padding: 12px;
}

.br-2 {
	padding: 22px;
}

.br-3 {
	padding: 32px;
}

.br-4 {
	padding: 42px;
}

.br-5 {
	padding: 52px;
}
/* Config quebra de linha - End */

/* Botão da busca */
.btn-search {
	padding: 14px 40px !important;
}
/* Botão da busca - End */

/* Tela de seleção de tipo de login */
.pre-login-personal {
	background:#85CCF8;
	padding-top:170px;
	padding-bottom:230px;
	color:#fff;
}

.pre-login-personal p {
	font-size:15px;
	font-weight:bold;
}

.pre-login-personal h1 {
	margin: 0 0 15px;
}

.pre-login-professional {
	background:#8ACE8A;
	padding-top:170px;
	padding-bottom:230px;
	color:#fff;
}

.pre-login-professional p {
	font-size:15px;
	font-weight:bold;
}

.pre-login-professional h1 {
	margin: 0 0 15px;
}