<!-- Search -->
<?php echo $this->element('search'); ?>
<!-- Search end -->
<div class="br-5"></div>
<div class="br-3"></div>

<!-- Mostra o link ativo no menu -->
<div id="active-link" active="li-search"></div>